@font-face {
    font-family: 'ArchivoBlack-Regular';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal; /* ou bold, se aplicável */
    font-style: normal;  /* ou italic, se aplicável */
}
